/*
    Copyright (C) 2025  Peter C. Jones <pryrtcode@pryrt.com>

    This file is part of the source code for the ConfigUpdater plugin for Notepad++

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

#include <winres.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_CU_VALIDATION_DLG DIALOGEX 0, 0, 330, 205
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ConfigUpdater File Validation"
FONT 10, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "File:", IDC_STATIC, 10, 5, 20, 9, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_CU_VALIDATION_FILE_CBX, 35, 5, 275, 52, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Validation Errors:", IDC_STATIC, 10, 20, 280, 9, SS_LEFT, WS_EX_LEFT
    LISTBOX         IDC_CU_VALIDATION_ERROR_LB, 10, 20, 300, 135, LBS_NOTIFY | LBS_DISABLENOSCROLL | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "&Validate", IDC_CU_VALIDATION_BTN, 10, 155, 55, 17
    PUSHBUTTON      "*.model.xml", IDC_CU_VALIDATION_MODEL_BTN, 75, 155, 65, 17
    PUSHBUTTON      "&Done", IDCANCEL, 250, 155, 60, 17
END
