*.sdf
*.sln
*.suo
bin/
bin64/
arm64/
vs.proj/Debug
vs.proj/Release
vs.proj/x64
vs.proj/ARM64
vs.proj/ConfigUpdater
vs.proj/ConfigUp*.*
vs.proj/*.opensdf
vs.proj/*.exp
vs.proj/*.lib
vs.proj/*.vcxproj.user
vs.proj/.vs/
vs.proj/*temp*/
*.aps
*.zip
*.bak
